<%- include("partials/header"); -%>
 <h1>FUN FACTS</h1>
<br>
<br>
<br>
<p style="color:#FF0000";>1. France covers more time zones than any country on the planet.</p>
<br>
<br>
<p style="color:#FF0000";>2. Canada has over three million lakes. That’s 60% of the world’s total.</p>
<br>
<br>
<p style="color:#FF0000";>3. New York City is actually further south than Rome is.</p>
<br>
<br>
<p style="color:#FF0000";>4. Russia is bigger than Pluto.</p>
<br>
<br>
 <br>
<h5>*contact for more*</h5>


<%- include("partials/footer"); -%>
